<!DOCTYPE html>
<html>
  <head>
    <title>Ulrichtasks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="mx-2">
    <p style="color: red"><%= alert %></p>
    <p style="color: green"><%= notice %></p>
    <%= yield %>
  </body>
  <!-- <footer class="div-footer"><div class="ulrich-footer">Made by Ulrich. ulrich#5428</div></footer> -->
</html>
